---
layout: default
---
<article class="post row" role="main">

  <header>
    <h1>{{ page.title }}</h1>
    {% if post.tags.size > 0 %}
      <p class="f-post-tags"><i class="fa fa-tag"></i>
        {% capture tags_content %} with <span class="icon-price-tag{% if post.tags.size > 1 %}s{% endif %}"></span>: {% endcapture %}
        {% for post_tag in post.tags %}
          {% assign tag = site.my_tags | where: "slug", post_tag %}
          {% if tag %}
            {% assign tag = tag[0] %}
            {% capture tags_content_temp %}{{ tags_content }}<a href="{{ tag.url }}">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
            {% assign tags_content = tags_content_temp %}
          {% endif %}
        {% endfor %}
      </p>
    {% endif %}
  </header>

  <section>
    {{ content }}
  </section>

</article>
